body, img, img a {
	margin: 0;
	border: 0;
	padding: 0;
}
#container {background-color: #e6d7cf;
	padding: 2em;
	font-family: calibri;
	font-size: 20px;
	
}
.contact {
	text-decoration: #9c6040;
	
}
.head {
	float: right;
}
.mini {
	display: block;
	align-content: right;
	position: absolute;
	

	
}
p, td, li {
	font-family: calibri;
	font-size: 20px;
	 
	padding: 5px;
}
.post {
	background-color: #e6d7cf;
}

p,h1,h3,h4 {
	text-align: center;
	color: #4f382b
}
table {
	padding: 3em;

}
h3, h4 {
	background-color: #9c6040;
	padding: 5px
}
th {
	background-color: #9c6040;
	color: white;
}
