body {
    background-color: #e6d7cf;
    padding: 70px;
    
}
#main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    font-size: 150%;
}
input {
    width: 200px;
    margin: 10px 5px;
}
form {
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
}
textarea {
    height: 20%;
    width: 60%;
    border: none;
    border-bottom: 2px solid darkred;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid darkred;
}
input[type=email] {
    border: none;
    border-bottom: 2px solid darkred;
}
input[type=submit] {
    border: 2px gray solid;
    border: 2px solid darkred;
}
input[type=text]:focus {
    background-color: lightblue;
}